
      <div class="row mt-5"><!--row 3 start-->
         <div class="col-md-4">
          <h5>Address</h5>
          <hr>
           2nd floor,Landmark building<br>
            near Fc college road<br>
             shivaji nager-pune<br>
           <p>contact no:6758464532</p>

        </div>
        <div class="col-md-4">
           <h5>Quick links</h5>
           <hr>
              <p><a href="" class="anchor">Home</a></p>
              <p><a href="" class="anchor">About us</a></p>
              <p><a href="" class="anchor">Cart</a></p>
              <p><a href="" class="anchor">about us</a></p>
            </div>
            <div class="col-md-4">
            <h5>Connect us</h5>
          <hr>
          <h5><a href="http://www.facebook.com"><i class="bi bi-facebook text-danger"></i></a></h5>
          <h5><a href="http://www.instagram.com"><i class="bi bi-instagram text-primary" ></i></a></h5>
          <h5><a href="http://www.twitter.com"><i class="bi bi-twitter text-success"></i></a></h5>
          <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin"></i></a></h5>
        
           </div>
     </div><!--row 3 end -->
</div>
<script src="asset/js/bootstrap.min.js"></script>
</body>
</html>