{% extends 'base.html' %}
{% load static %}
{% block 'main'%}
<!-- row 2 start --><div class="row">
    <div class="col-md-4 bg-primary-subtle">
        <h5>Filter By category</h5>
        <hr>
        <p><a href="/home3" class="anchor">by All</a></p>
        <p><a href="/catfilter/1" class="anchor">by mobile</a></p>
        <p><a href="/catfilter/2" class="anchor">by shoes</a></p>
        <p><a href="/catfilter/3" class="anchor">by cloth</a></p>
        <h5>Filter By Price Range</h5>
        <hr>
        <form action="/range">
            <div class="mb-3">
                <label for="one" class="form-label">Min:</label>
                <input type="number" class="form-control" name="min" id="one" placeholder="Enter min value">
              </div>
              <div class="mb-3">

              <label for="two" class="form-label">Max:</label>
              <input type="number" class="form-control"  name="max" id="two" placeholder="Enter max value">
              </div>
              <div class="mb-3">
               
                <input type="submit" class="btn btn-danger" value="search">
              </div>
        </form>
        <h5>Sort by price</h5>
        <hr>
        <p><a href="/sort/0" class="anchor">Low to high</a></p>
        <p><a href="/sort/1" class="anchor">high to low</a></p>


    </div>
    <div class="col-md-8 mt-3" >
        <div class="row">
          {% for x in products %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{x.pimage.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{x.name}}</h5>
                      <p class="card-text">Rs.{{x.price}}</p>
                      {% if x.cat == 1 %}
                  
                      <p class="card-text">mobile</p>
                      {% elif x.cat == 2 %}
                      <p class="card-text">Shoes</p>
                      {% else %}
                      <p class="card-text">Cloth</p>
                      {% endif %}
                      <a href="/pd/{{x.id}}" class="btn btn-primary">see details</a>
                    </div>
                  </div>
              </div>
          {% endfor %}

        </div>

    </div>

</div>
<!-- row 2 end -->

{% endblock 'main' %}